* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, input, button, select, option {
  color: rgba(0, 0, 0, 0.7);
  font-family: Lato, sans-serif;
}

ul, ol {
  list-style: none;
}

a, a:active, a:visited {
  text-decoration: none;
  color: rgb(0, 155, 255);
}

a:hover {
  text-decoration: underline;
}


#map-canvas {
  height: 500px;
}

.gm-style-iw {
  max-width: 300px;
}

.gm-style-iw h1 {
  font-size: 16px;
  margin-bottom: 4px;
}

.gm-style-iw p {
  margin-top: 5px;
}

.gm-style-iw img {
  height: 200px;
  margin: 5px auto;
  display: block;
}

.date {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 12px;
}

.main {
  padding: 50px 50px 0 50px;
  max-width: 700px;
  margin: auto;
}

.title {
  float: left;
  margin-right: 10px;
  font-size: 45px;
}

.subtext div {
  font-size: 12px;
  color: rgba(0,0,0,0.3);
  line-height: 1.8;
}

.subtext .author {
  padding-top: 7px;
}

.nav-link {
  padding: 20px 20px 15px 20px;
  margin: 0;
  line-height: 2;
  border: 1px solid #ddd;
}

.nav-link:hover {
  background: #eee;
  text-decoration: none;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 25px;
}

ul li {
  margin-left: 30px;
}

.content ul li {
  margin-bottom: 12px;
}

.main-description {
  margin-top: 25px;
}

.main-description p {
  margin-bottom: 10px;
}

.subheader {
  font-weight: bold;
  color: #999;
  padding-top: 6px;
}

.container {
  height: auto;
  min-height: 100%;
}

.footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ccc;
  background: #eee;
  clear: both;
  position: relative;
  z-index: 2;
  height: 2em;
  margin-top: -2em;
}

.guides-list {
  font-size: 18px;
  padding-bottom: 70px;
}

.loading {
  margin-top: 30px;
  font-weight: bold;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes loading {
    0% {
        color: #000;
        opacity: 0.7;
    }
    22% {
        color: #333;
    }
    77% {
        color: #666;
    }
    100% {
        color: #333;
    }
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 3em;
    margin-top: -3em;
  }
}

@media only screen and (max-width: 720px) {
  .main {
    padding: 20px 20px 0px 20px;
  }
}


