---
layout: default

---

  <link rel="stylesheet" href="/css/city.css">
</head>
<body>

<h1>{{ page.title }}</h1>
Data from {{ page.date | date: '%B %Y' }}

{{ content }}

<div id="options">
  See only favorites: <input type="checkbox" id="see-faves" />
  Advanced options: <input type="checkbox" id="advanced-toggle" />
  <div id="advanced-options">
    <p>Sort by:</p>
    <select>
      <option value="type" selected="selected">Category (alphabetical)</option>
      <option value="location">Location (west to east, north to south)</option>
      <option value="price">Price (lowest first)</option>
    </select>
    <p>Filter categories:</p>
     Sightseeing: <input checked="checked" type="checkbox" class="type-check" value="sightseeing" />
     Food: <input checked="checked" type="checkbox" class="type-check" value="food" />
     Shopping: <input checked="checked" type="checkbox" class="type-check" value="shopping" />
     Nature: <input checked="checked" type="checkbox" class="type-check" value="nature" />
     Night Life: <input checked="checked" type="checkbox" class="type-check" value="nightlife" />
     Experience: <input checked="checked" type="checkbox" class="type-check" value="experience" />
     Other: <input checked="checked" type="checkbox" class="type-check" value="other" />
  </div>
</div>
<div id="places-list"></div>
<div id="map-canvas" data-lat="{{ page.lat }}" data-lng="{{ page.lng }}" data-zoom="{{ page.zoom }}"></div>

<!-- libraries -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWjWoZQhHbd0Nw69SpvOtKW8Po-dyI5-A">
</script>
<script type="text/javascript" src="/js/gmaps.js"></script>

<!-- scripts -->
<script>
  var cityName = "{{ page.city }}";
  var countryName = "{{ page.country }}";
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/city.js"></script>
