---
layout: default

---

  <link rel="stylesheet" href="/css/city.css">
</head>
<body>

<div class="nav">
  <a href="/" class="nav-link">Main Menu</a>
  <a href="/guide/{{ page.country | downcase | replace: ' ', '_' }}" class="nav-link">Back to {{ page.country }}</a>
</div>
<div class="main" id="main">
  <div class="header">
    <h1 class="title">{{ page.title }}</h1>
    <div class="subtext">
      <div class="author">By {{ page.author }}</div>
      <div class="date">Data from {{ page.date | date: '%B %Y' }}</div>
    </div>
  </div>

  <div class="content">
    {{ content }}
  </div>

  <h2>Highlights</h2>
  <div class="loading" id="loading">Loading Map...</div>
  <div id="options">
    <p class="desc">Curate the list of suggestions to get a personalized list of just the things you care about!</p>

    <div class="radio">
      <input type="checkbox" id="see-faves" />
      <label for="see-faves"></label>
    </div>
    <label for="see-faves" class="outer-label">See only favorites</label>
    <div class="radio">
      <input type="checkbox" id="advanced-toggle" />
      <label for="advanced-toggle"></label>
    </div>
    <label for="advanced-toggle" class="outer-label">Sort and filter</label>
    <span class="buttons">
      <button id="reset">Reset list</button>
      <button id="save">Save current list</button>
    </span>

    <div id="advanced-options">
      <p>Sort by:</p>
      <select id="sort">
        <option disabled="disabled" selected="selected">Select a sort method</option>
        <option value="type">Category</option>
        <option value="location">Location (north to south)</option>
        <option value="price">Price (lowest first)</option>
      </select>

      <p>Filter categories:</p>
      <input checked="checked" type="checkbox" id="sightseeing" class="type-check" value="sightseeing" /> <label class="label-button" for="sightseeing">Sightseeing</label>
      <input checked="checked" type="checkbox" id="food" class="type-check" value="food" /> <label class="label-button" for="food">Food</label>
      <input checked="checked" type="checkbox" id="shopping" class="type-check" value="shopping" /> <label class="label-button" for="shopping">Shopping</label>
      <input checked="checked" type="checkbox" id="nature" class="type-check" value="nature" /> <label class="label-button" for="nature">Nature</label>
      <input checked="checked" type="checkbox" id="nightlife" class="type-check" value="nightlife" /> <label class="label-button" for="nightlife">Night Life</label>
      <input checked="checked" type="checkbox" id="experience" class="type-check" value="experience" /> <label class="label-button" for="experience">Experience</label>
      <input checked="checked" type="checkbox" id="other" class="type-check" value="other" /> <label class="label-button" for="other">Other</label>

      <p>Filter price:</p>
      <input checked="checked" type="checkbox" id="price-0" class="price-check" value="0" /> <label class="label-button" for="price-0">Free</label>
      <input checked="checked" type="checkbox" id="price-1" class="price-check" value="1" /> <label class="label-button" for="price-1"><$10</label>
      <input checked="checked" type="checkbox" id="price-2" class="price-check" value="2" /> <label class="label-button" for="price-2">$11-$30</label>
      <input checked="checked" type="checkbox" id="price-3" class="price-check" value="3" /> <label class="label-button" for="price-3">$31-$60</label>
      <input checked="checked" type="checkbox" id="price-4" class="price-check" value="4" /> <label class="label-button" for="price-4">>$61</label>
    </div>
  </div>
</div>
<div class="place-items">
  <div id="places-list"></div>
  <div id="map-canvas" data-lat="{{ page.lat }}" data-lng="{{ page.lng }}" data-zoom="{{ page.zoom }}"></div>
</div>

<div id="modal-background">
</div>
<div id="save-box">
  <button id="close-box">×</button>
  URL for current curated list:
  <input type="text" id="save-url" />
</div>

<!-- libraries -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWjWoZQhHbd0Nw69SpvOtKW8Po-dyI5-A">
</script>
<script type="text/javascript" src="/js/gmaps.js"></script>

<!-- scripts -->
<script>
  var cityName = "{{ page.city }}";
  var countryName = "{{ page.country }}";
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/city.js"></script>
