---
layout: default

---

  <link rel="stylesheet" href="/css/country.css">
</head>
<body>
<div class="nav">
  <a href="/" class="nav-link">Main Menu</a>
</div>
<div class="main" id="main">
  <div class="header">
    <h1 class="title">{{ page.title }}</h1>
    <div class="subtext">
      <div class="author">By {{ page.author }}</div>
      <div class="date">Data from {{ page.date | date: '%B %Y' }}</div>
    </div>
  </div>

  <div class="content">
    {{ content }}
  </div>

  <div class="loading" id="loading">Loading Map...</div>
  <div id="map-info">
    <div id="full-guides">
      <h2>Full City Guides</h2>
    </div>

    <h2>Routes and Cities</h2>
    <p class="desc">Click on routes for time and cost estimates. Click on cities for more info on them.</p>
  </div>
</div>

<div class="map-wrapper">
  <div id="map-canvas" data-lat="{{ page.lat }}" data-lng="{{ page.lng }}" data-zoom="{{ page.zoom }}"></div>
</div>

<!-- libraries -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWjWoZQhHbd0Nw69SpvOtKW8Po-dyI5-A">
</script>
<script type="text/javascript" src="/js/gmaps.js"></script>

<!-- scripts -->
<script>
  var countryName = "{{ page.country }}";
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/country.js"></script>
