---
layout: default

---

  <link rel="stylesheet" href="/css/country.css">
</head>
<body>

<a href="/" class="nav">Home</a>

<h1>{{ page.title }}</h1>
Data from {{ page.date | date: '%B %Y' }}

{{ content }}

Click on routes for time and cost estimates. Click on cities for more info on them.

<div id="map-canvas" data-lat="{{ page.lat }}" data-lng="{{ page.lng }}" data-zoom="{{ page.zoom }}"></div>

<!-- libraries -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWjWoZQhHbd0Nw69SpvOtKW8Po-dyI5-A">
</script>
<script type="text/javascript" src="/js/gmaps.js"></script>

<!-- scripts -->
<script>
  var countryName = "{{ page.country }}";
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/country.js"></script>
